.cont {
    background-image: url('../../public/bg-02.jpg');
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-color: red !important; /* Sets the fallback background color */
    min-width: 100% !important; /* Ensures it spans the full width of the page */
    min-height: 80vh !important;
}

.container.cont {
    padding-top: 130px;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  